@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, san-serif;
}
body {
    font-family: 'Mooli', Arial, sans-serif;
    background-color: #EBEBEB;
}

.hide {
    display: none;
}

h1 {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-left: 10%;
    padding-right: 10%;
}

img {
	max-width: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 5px 5px 10px black;
}

header, footer {
    background-color: #52489C;
    color: white;
}

header h1 {
    font-size: 48px;
    text-align: center;
}

footer h1 {
    font-size: 24px;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    text-align: center;
}

.tab {
    text-align: center;
}

.tablinks {
    font-size: 24px;
}

button:hover {
    color: purple;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.6rem;
}

.viewer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);;
    color: white;
}

.viewer.hide {
    display: none;
}

.close-viewer {
    font-size: 2rem;
    cursor: pointer;
    vertical-align: top;
    margin: 75px auto;
}

.viewer img {
    width: 50%;
    height: auto;
    max-height: 90%;
    display: block;
    margin: 0 auto;
}




@media screen and (min-width: 700px) {
    .gallery 
    {
        grid-template-columns: 1fr 1fr;
    }
    .tablinks
    {
        display: none;
    }
    nav {
        display: flex;
        flex-direction: row;
    }
    /* #menu {
        display: block;
    } */
}

@media screen and (min-width: 1000px) {
    .gallery 
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}